{% extends "baseApp/layouts/photohub/RTL/base.html" %}
{% load static %}
{% load i18n %}


{% block head_title %}
<title>استودیو عکاسی و فیلمبرداری - LaVino Mood Photography Studio</title>
<meta name="description" content="مجموعه لاوینو در شهر زیبای استانبول واقع شده است و در زمینه ی عکاسی صنعتی و مدلینگ فعالیت دارد.">
{% endblock head_title %}

{% block fake_loader %}
	<!-- Preloader -->
	<div id="preloader">
		<div class="spinner2">
			<div class="spinner-container container1">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container2">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div><div class="spinner-container container3">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
		</div>
	</div>
{% endblock fake_loader %}

{% block body_content %}
		<!-- Contact Form Sent Message -->
		{% if messages %}
				{% for message in messages %}
					<div class="row">
						<div id="success-message" class="text-center col-lg-8 offset-lg-2 alert alert-{{message.tags}}" id='success-alert' role="alert">
								{{message|safe}}
						</div>
					</div>
				{% endfor %}
		{% endif %}

		<!-- START BREADCRUMB AREA -->
		<div class="breadcrumb-area" data-black-overlay="7" style="background-image: url({{breadcumb.image.url}});">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="pt-breadcrumb text-center ptb-80">
							<h3>درباره ما</h3>
						</div>
					</div>
				</div>
			</div>
		</div><!-- END BREADCRUMB AREA -->

		<!-- START MAIN CONTENT -->
		<main class="main-content">

			<!-- START ABOUT US AREA -->
			<section id="about-area" class="pt-section about ptb-120 bg--light-grey">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-12 wow animate__animated animate__fadeIn" data-wow-duration="0.7s" data-wow-delay="0.5s">
							<div class="about__image">
								<img src="{% static "baseApp/layouts/photohub/LTR/images/about/1.jpg" %}" alt="about image">
							</div>
						</div>
						<div class="col-lg-6 col-12 wow animate__animated animate__fadeIn" data-wow-duration="0.7s" data-wow-delay="0.8s">
							<div class="about__content">
								<h3 class="text-uppercase">تصویری که شما با دوربین خود می گیرید تخیلی است که می خواهید با واقعیت ایجاد کنید.</h3>
								<p>مجموعه لاوینو در شهر زیبای استانبول واقع شده است و در زمینه ی عکاسی صنعتی و مدلینگ فعالیت دارد. از دیگر فعالیت های لاوینو به تصویر برداری و نیز بازاریابی و مدیریت شبکه های اجتماعی میتوان اشاره داشت. </p>
								<p>دپارتمان لاوینو از تیم عکاسان حرفه ای ، میکاپ آرتیست ها، طراحان صحنه و همچنین گرافیست های متخصص صنعتی و تبلیغاتی تشکیل شده است. </p>
								<p>آتلیه عکاسی صنعتی و نیز لوکیشن های خاص مدلینگ و همچنین آتلیه طراحی و ادیت از جمله امتیازات این مجموعه است. لاوینو با نگاهی نو همواره در راستای ارائه هنرمندانه خدمات تصویری و تبلیغاتی به مشتریان خود گام بر می دارد. </p>
							</div>
						</div>
					</div>
				</div>
			</section><!-- END ABOUT US AREA -->

			<!-- START PROCESS AREA -->
			<section class="pt-section process-area ptb-120 bg--light-grey">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
							<div class="section-title text-center wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.5s">
								<h2>کار با <span>ما</span></h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
							<div class="process">
								<!-- START SINGLE PROCESS -->
								<div class="process__single">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/meeting.jpg" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">01. جلسه و ملاقات</h4>
										<p>در ابتدا شما با یکی از متخصصین با تجربه ما در حوزه ارتباط با مشتری ملاقات  خواهید کرد که به خوبی  به سبک های استایل، استانداردهای مد فعلی و  جزییات و ملزومات پروژه های طراحی، عکاسی  و فیلم برداری مسلط می باشد.</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single process__single--reverse">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/coffee.jpg" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">02. به وقت قهوه</h4>
										<p>بیایید با یک فنجان قهوه یا چای گپ بزنیم (یا اگر در <a href="https://www.gammaturkey.com/fa/" class="backlink-refer">ترکیه</a> نیستید از طریق اپلیکیشن ها یک جلسه رسمی داشته باشیم) این دقیقا  جایی است که ما عمیقا وارد جزئیات پروژه میشویم و به سوالات شما و نکته نظرهایتان گوش میدهیم و نهایتا قرارداد خود را رسمیت می بخشیم</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/3.jpg" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">03. آفیشِ گروه</h4>
										<p>برای مشتریان پروژه های عکاسی  و فیلم برداری ، با مشورت یکدیگر یک تاریخ مشخص می کنیم و آن روز در مقابل دوربین اوقات خوشی را میگذرانیم! ما می خواهیم اطمینان حاصل کنیم که شما قبل از آفیش عکاسی  خود احساس راحتی می کنید و فرصت آشنایی با اعضای تیم  تیم پشت لنزدوربین  را دارید.</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single process__single--reverse">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/4.jpg" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">04. طراحی و اصلاح</h4>
										<p>ما اکنون آماده ساختن و ویراش رویای شما هستیم. ما صد درصد تلاش خود را به خلق و آرایش آنچه در ذهن شما هست اختصاص میدهیم  و در طول مسیر شما را در جریان تمامی  جزئیات فرآیند قرار میدهیم. </p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/details.jpg" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">05. بازنگری جزئیات</h4>
										<p>هنگامی که رسیدگی به جزئیات پروژه رو به اتمام است، ما نسخه ای از ورژن  پایانی را برای بررسی  نهایی پروژه در اختیار شما قرار میدهم  نکات مد نظر خد را در خصوص آنها بیان کنید. بازخورد ارزشمند شما در خصوص به تحقق پیوستن ایده آل های ذهنییتان  برای ما درخصوص اطمینان حاصل کردن از کامل بودن تصویر نهایی بسیار مهم و حائز اهمیت است. </p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single process__single--reverse">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/delivery.jpg" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">06. تحویل نهایی پروژه</h4>
										<p>هدف و غایت ما این است که داستان شما را به زیباترین، جذاب ترین و «شما» و کمپانی  شما را به بهترین شکل ممکن به تصویر بکشیم. حال که تمامی مراحل کار انجام گردیده، ما می توانیم نتایج این همکاری دل انگیز را به صورت چاپ شده یا به صورت محتوای دیجیتال به گیرنده یا آدرس مدنظرتان تحویل دهیم.</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
							</div>
						</div>
					</div>
				</div>
			</section><!-- END PROCESS AREA -->

			<!-- START PARTNERS AREA -->
			<!-- <div class="pt-section partners-area ptb-100" data-black-overlay="2" style="background: url({% static "baseApp/layouts/photohub/LTR/images/bg/1-1.jpg" %}) no-repeat scroll center center;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="partners owl-carousel d-flex align-items-center">
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/1.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/2.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/3.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/4.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/5.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/1.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/2.png" %}" alt="partner"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

			{% include "baseApp/layouts/photohub/RTL/include/ContactForm.html" %}

		</main><!-- END MAIN CONTENT -->
{% endblock body_content %}
