{% extends "baseApp/layouts/photohub/RTL/base.html" %}
{% load static %}
{% load i18n %}


{% block body_content %}
		<!-- START BREADCRUMB AREA -->
		<div class="breadcrumb-area" data-black-overlay="7" style="background-image: url({{breadcumb.image.url}});">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="pt-breadcrumb text-center ptb-80">
							<h3>درباره ما</h3>
						</div>
					</div>
				</div>
			</div>
		</div><!-- END BREADCRUMB AREA -->

		<!-- START MAIN CONTENT -->
		<main class="main-content">

			<!-- START ABOUT US AREA -->
			<section id="about-area" class="pt-section about ptb-120 bg--light-grey">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-12 wow animate__animated animate__fadeIn" data-wow-duration="0.7s" data-wow-delay="0.5s">
							<div class="about__image">
								<img src="{% static "baseApp/layouts/photohub/LTR/images/about/1.jpg" %}" alt="about image">
							</div>
						</div>
						<div class="col-lg-6 col-12 wow animate__animated animate__fadeIn" data-wow-duration="0.7s" data-wow-delay="0.8s">
							<div class="about__content">
								<h3 class="text-uppercase">چگونه یک صفحه درباره ما بنویسیم؟</h3>
								<p>در صفحه درباره ما صاحبان وبسایت باید بگونه‌ای در مورد محصولات و یا خدمات خود توضیح دهند که برتری‌های خود را نسبت به رقبا بیشتر بیان کرده و بتوانند کاربران را از کیفیت خدمات یا محصولات مطمئن سازند. همچنین مطالب موجود در صفحه درباره ما باید بگونه‌ای بیان شود که باعث جلب توجه خوانندگان شود و احساس کنند به درستی به وبسایت مراجعه کرده‌اند.</p>
								<p>در صفحه «درباره ما» می‌توانید مستنداتی را در مورد رضایت کاربران و معتبر بودن تجارت خود قرار دهید و بدین طریق اعتماد خوانندگان را جلب کنید و به آنها نشان دهید که وبسایت شما از اعتبار بالایی برخوردار است.</p>
							</div>
						</div>
					</div>
				</div>
			</section><!-- END ABOUT US AREA -->

			<!-- START PIE AREA -->
			<section id="pie-area" class="pt-section pie-area ptb-120 bg--1" data-black-overlay="9">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="pies">
								<!-- START SINGLE PIE -->
								<div class="pie">
									<div class="pie-chart" data-percent="80" data-scale-color="#ffb400"><span>80%</span></div>
									<div class="pie__content">
										<h5 class="pie__title">استادیو</h5>
									</div>
								</div><!-- END SINGLE PIE -->
								<!-- START SINGLE PIE -->
								<div class="pie">
									<div class="pie-chart" data-percent="70" data-scale-color="#ffb400"><span>70%</span></div>
									<div class="pie__content">
										<h5 class="pie__title">عکاسی</h5>
									</div>
								</div><!-- END SINGLE PIE -->
								<!-- START SINGLE PIE -->
								<div class="pie">
									<div class="pie-chart" data-percent="75" data-scale-color="#ffb400"><span>75%</span></div>
									<div class="pie__content">
										<h5 class="pie__title">ادیت</h5>
									</div>
								</div><!-- END SINGLE PIE -->
								<!-- START SINGLE PIE -->
								<div class="pie">
									<div class="pie-chart" data-percent="90" data-scale-color="#ffb400"><span>90%</span></div>
									<div class="pie__content">
										<h5 class="pie__title">چاپ</h5>
									</div>
								</div><!-- END SINGLE PIE -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- END PIE AREA -->

			<!-- START PROCESS AREA -->
			<section class="pt-section process-area ptb-120 bg--light-grey">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
							<div class="section-title text-center wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.5s">
								<h2>خدمات <span>ما</span></h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
							<div class="process">
								<!-- START SINGLE PROCESS -->
								<div class="process__single">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/1.png" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">01. استادیو</h4>
										<p>عکسبرداری با اصول صحیح و دقیق، استفاده از جدید ترین و زیباترین ژست های دنیای مد و فشن، فضایی مناسب</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single process__single--reverse">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/2.png" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">02. عکاسی</h4>
										<p>عکسبرداری با اصول صحیح و دقیق، استفاده از جدید ترین و زیباترین ژست های دنیای مد و فشن، فضایی مناسب</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/3.png" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">03. ادیت</h4>
										<p>عکسبرداری با اصول صحیح و دقیق، استفاده از جدید ترین و زیباترین ژست های دنیای مد و فشن، فضایی مناسب</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single process__single--reverse">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/4.png" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">04. چاپ</h4>
										<p>عکسبرداری با اصول صحیح و دقیق، استفاده از جدید ترین و زیباترین ژست های دنیای مد و فشن، فضایی مناسب</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
							</div>
						</div>
					</div>
				</div>
			</section><!-- END PROCESS AREA -->

			<!-- START PARTNERS AREA -->
			<div class="pt-section partners-area ptb-100" data-black-overlay="2" style="background: url({% static "baseApp/layouts/photohub/LTR/images/bg/1-1.jpg" %}) no-repeat scroll center center;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="partners owl-carousel d-flex align-items-center">
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/1.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/2.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/3.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/4.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/5.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/1.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/2.png" %}" alt="partner"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- END PARTNERS AREA -->

			<!-- START TEAM AREA -->
			<section id="team-area" class="pt-section team-area ptb-120 bg--light-grey">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
							<div class="section-title text-center">
								<h2>اعضای <span>تیم</span></h2>
								<p>هم اکنون تمامی خدمات عکس و فیلم را به ما دوستان عزیز ارائه می نماییم</p>
							</div>
						</div>
					</div>
					<div class="row">
						<!-- START TEAM MEMBER -->
						<div class="col-lg-4 col-12 col-md-6 offset-md-0 col-sm-8 offset-sm-2">
							<article class="team">
								<div class="team__image">
									<img src="{% static "baseApp/layouts/photohub/LTR/images/team/1.jpg" %}" alt="team image">
								</div>
								<div class="team__content text-center">
									<h4>Juan Pablo Soto</h4>
									<div class="social-icons social-icons--white">
										<ul>
											<li class="facebook"><a href="https://www.facebook.com/"><span class="ti-facebook"></span></a></li>
											<li class="twitter"><a href="https://twitter.com/"><span class="ti-twitter-alt"></span></a></li>
											<li class="vimeo"><a href="https://vimeo.com/"><span class="ti-vimeo-alt"></span></a></li>
											<li class="pinterest"><a href="https://www.pinterest.com/"><span class="ti-pinterest"></span></a></li>
										</ul>
									</div>
								</div>
							</article>
						</div><!-- END TEAM MEMBER -->
						<!-- START TEAM MEMBER -->
						<div class="col-lg-4 col-12 col-md-6 offset-md-0 col-sm-8 offset-sm-2">
							<article class="team">
								<div class="team__image">
									<img src="{% static "baseApp/layouts/photohub/LTR/images/team/2.jpg" %}" alt="team image">
								</div>
								<div class="team__content text-center">
									<h4>Patricia Ledesma</h4>
									<div class="social-icons social-icons--white">
										<ul>
											<li class="facebook"><a href="https://www.facebook.com/"><span class="ti-facebook"></span></a></li>
											<li class="twitter"><a href="https://twitter.com/"><span class="ti-twitter-alt"></span></a></li>
											<li class="vimeo"><a href="https://vimeo.com/"><span class="ti-vimeo-alt"></span></a></li>
											<li class="pinterest"><a href="https://www.pinterest.com/"><span class="ti-pinterest"></span></a></li>
										</ul>
									</div>
								</div>
							</article>
						</div><!-- END TEAM MEMBER -->
						<!-- START TEAM MEMBER -->
						<div class="col-lg-4 col-12 col-md-6 offset-md-0 col-sm-8 offset-sm-2">
							<article class="team">
								<div class="team__image">
									<img src="{% static "baseApp/layouts/photohub/LTR/images/team/3.jpg" %}" alt="team image">
								</div>
								<div class="team__content text-center">
									<h4>Thiago Leguizamon</h4>
									<div class="social-icons social-icons--white">
										<ul>
											<li class="facebook"><a href="https://www.facebook.com/"><span class="ti-facebook"></span></a></li>
											<li class="twitter"><a href="https://twitter.com/"><span class="ti-twitter-alt"></span></a></li>
											<li class="vimeo"><a href="https://vimeo.com/"><span class="ti-vimeo-alt"></span></a></li>
											<li class="pinterest"><a href="https://www.pinterest.com/"><span class="ti-pinterest"></span></a></li>
										</ul>
									</div>
								</div>
							</article>
						</div><!-- END TEAM MEMBER -->
					</div>
				</div>
			</section><!-- END TEAM AREA -->
		</main><!-- END MAIN CONTENT -->
{% endblock body_content %}
