{% extends "baseApp/layouts/photohub/RTL/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
	<title>HomePage</title>
	<meta name="description" content="">
{% endblock head_title %}


{% block fake_loader %}
	<!-- Preloader -->
	<div id="preloader">
		<div class="spinner2">
			<div class="spinner-container container1">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container2">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div><div class="spinner-container container3">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
		</div>
	</div>
{% endblock fake_loader %}



{% block body_content %}
	<!-- START SLIDER AREA -->
	<div class="banner">
		<div class="banner__inner banner-slider-active owl-carousel slider-navigtion-style-1">
			{% for banner in bannerImages %}
			<!-- START SINGLE BANNER -->
			<div class="single__banner"
						style="background: url({{banner.image.url}}) no-repeat scroll center center; background-size: auto 100%;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="banner__content text-center">
								{% if banner.sub_title_fa %}
									<h3>{{banner.sub_title_fa}}</h3>
								{% endif %}
								{% if banner.title_fa %}
									<h1>{{banner.title_fa}}</h1>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END SINGLE BANNER -->
			{% endfor %}
		</div>
		<div class="banner__hash-wrapper hidden-md hidden-xs hidden-sm">
			<div class="banner__hash owl-carousel">
				<div class="banner__hash__single">
					<img src="#" alt="small thumb">
				</div>
			</div>
		</div>
	</div><!-- END SLIDER AREA -->

	<!-- START MAIN CONTENT -->
	<main class="main-content">

		<!-- START ABOUT US AREA -->
		<section id="about-area" class="pt-section about pt-120 bg--light-grey">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="about__image">
							<img src="{% static "baseApp/layouts/photohub/LTR/images/about/studio-01.jpg" %}" alt="about image">
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="about__content">
							<h3 class="text-uppercase">تصویری که شما با دوربین خود می گیرید تخیلی است که می خواهید با واقعیت ایجاد کنید.</h3>
							<p>مجموعه لاوینو در شهر زیبای استانبول واقع شده است و در زمینه ی عکاسی صنعتی و مدلینگ فعالیت دارد. از دیگر فعالیت های لاوینو به تصویر برداری و نیز بازاریابی و مدیریت شبکه های اجتماعی میتوان اشاره داشت. </p>
							<p>دپارتمان لاوینو از تیم عکاسان حرفه ای ، میکاپ آرتیست ها، طراحان صحنه و همچنین گرافیست های متخصص صنعتی و تبلیغاتی تشکیل شده است. </p>
							<p>آتلیه عکاسی صنعتی و نیز لوکیشن های خاص مدلینگ و همچنین آتلیه طراحی و ادیت از جمله امتیازات این مجموعه است. لاوینو با نگاهی نو همواره در راستای ارائه هنرمندانه خدمات تصویری و تبلیغاتی به مشتریان خود گام بر می دارد. </p>
						</div>
					</div>
				</div>
			</div>
		</section><!-- END ABOUT US AREA -->

		<!-- START PORTFOLIO AREA -->
		<section id="portfolio-area" class="portfolio-wrap pt-120 bg--light-grey">
			<div class="portfolios layout-2">
				{% for item in featuredImages %}
				<!-- START SINGLE PORTFOLIO -->
				<div class="portfolio wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
					<div class="portfolio__inner">
						<div class="portfolio__image">
							<img src="{{item.image.url}}" alt="{{item.title_fa}}">
						</div>
						<div class="portfolio__content">
							<!-- <span class="portfolio-zoom-trigger">
								<a href="{{item.image.url}}"><span class="ti-eye"></span></a>
							</span> -->
							<div class="portfolio__content__text">
								<!-- <div class="share__content__wrap">
									<a class="share-toggle" href="#"><span class="ti-sharethis"></span> اشتراک</a>
									<div class="share__content">
										<a href="https://www.facebook.com/"><span class="ti-facebook"></span></a>
										<a href="https://twitter.com/"><span class="ti-twitter-alt"></span></a>
										<a href="https://www.pinterest.com/"><span class="ti-pinterest"></span></a>
									</div>
								</div> -->
								<h5>{{item.title_fa}}</h5>
							</div>
						</div>
					</div>
				</div><!-- END SINGLE PORTFOLIO -->
				{% endfor %}
			</div>
		</section><!-- END PORTFOLIO AREA -->

		<!-- START SERVICE AREA -->
		<section id="service" class="pt-section service-area ptb-120 bg--light-grey">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
						<div class="section-title text-center wow animate__animated animate__fadeInUp">
							<h2>خدمات <span> ما</span></h2>
							<p style="margin-bottom:0; font-size:18px;">رسالت خود را فراتر از انتظار مشتری می دانیم</p>
							<p style="margin-bottom:0; font-size:17px; color:#16bbb4;">ما به کیفیت عکاسی و ارائه خدمات خلاق خود  افتخار می کنیم.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="services">
							<!-- START SINGLE SERVICE -->
							<div class="service wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
								<div class="service__inner">
									<div class="service__icon">
										<span class="icon-profile-female"></span>
										<span class="icon-profile-female"></span>
									</div>
									<div class="service__content">
										<h4>مدلینگ</h4>
										<p>مدل های خانم و آقا، فیتنس و ورزش، مُد و لباس</p>
									</div>
								</div>
							</div><!-- END SINGLE SERVICE -->
							<!-- START SINGLE SERVICE -->
							<div class="service wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
								<div class="service__inner">
									<div class="service__icon">
										<span><i class="fal fa-camera-movie"></i></span>
										<span><i class="fal fa-camera-movie"></i></span>
									</div>
									<div class="service__content">
										<h4>فیلم های تبلیغاتی</h4>
										<p>تولید ویدئو خلاقانه، ضبط ویدئو هوایی (پهباد)، رویدادها و کنفرانس ها</p>
									</div>
								</div>
							</div><!-- END SINGLE SERVICE -->
							<!-- START SINGLE SERVICE -->
							<div class="service wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
								<div class="service__inner">
									<div class="service__icon">
										<span class="icon-camera"></span>
										<span class="icon-camera"></span>
									</div>
									<div class="service__content">
										<h4>عکاسی صنعتی</h4>
										<p>محصولات، فشِن و زیبایی، جواهرات، عکاسی تجاری</p>
									</div>
								</div>
							</div><!-- END SINGLE SERVICE -->
							<!-- START SINGLE SERVICE -->
							<div class="service wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
								<div class="service__inner">
									<div class="service__icon">
										<span class="icon-printer"></span>
										<span class="icon-printer"></span>
									</div>
									<div class="service__content">
										<h4>طراحی گرافیک و چاپ</h4>
										<p>طراحی لوگو، بروشور و پوستر، بنرهای تبلیغاتی</p>
									</div>
								</div>
							</div><!-- END SINGLE SERVICE -->
							<!-- START SINGLE SERVICE -->
							<div class="service wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
								<div class="service__inner">
									<div class="service__icon">
										<span><i class="fal fa-house"></i></span>
										<span><i class="fal fa-house"></i></span>
									</div>
									<div class="service__content">
										<h4>پروژه های ساختمانی</h4>
										<p>عکاسی داخلی و خارجی، ویدئو ملک، ویرایش عکس</p>
									</div>
								</div>
							</div><!-- END SINGLE SERVICE -->
							<!-- START SINGLE SERVICE -->
							<div class="service wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
								<div class="service__inner">
									<div class="service__icon">
										<span><i class="far fa-bullseye-pointer"></i></span>
										<span><i class="far fa-bullseye-pointer"></i></span>
									</div>
									<div class="service__content">
										<h4>بازاریابی دیجیتال</h4>
										<p>مدیریت محتوای شبکه های اجتماعی، طراحی وب سایت</p>
									</div>
								</div>
							</div><!-- END SINGLE SERVICE -->
						</div>
					</div>
				</div>
			</div>
		</section><!-- END SERVICE AREA -->

		<!-- START TESTIMONIAL PARTNERS AREA -->
		<div class="pt-section testimonial-pertners-area" style="background: url({% static "baseApp/layouts/photohub/LTR/images/bg/1-1.jpg" %}) no-repeat scroll center center;">
			<!-- START TESTIMONIAL AREA -->
			<div class="testimonial-area ptb-120">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<div class="testimonials owl-carousel">
								<!-- START SINGLE TESTIMONIAL -->
								<article class="testimonial text-center">
									<p  class="testimonial__text">هنرمند حقیقی باید قادر باشد تا با معمولی ترین چیزها غیرمعمول ترین ایده ها را خلق کند</p>
									<div class="testimonial__author">
										<h5 style="font-size:22px;"><a href="{% url "baseApp:projects" %}">پروژه ها</a></h5>
									</div>
								</article><!-- END SINGLE TESTIMONIAL -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- END TESTIMONIAL AREA -->
			<!-- START PARTNERS AREA -->
			<div class="partners-area ptb-10" data-white-overlay="1">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="partners owl-carousel d-flex align-items-center">
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/1.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/2.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/3.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/4.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/5.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/1.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/2.png" %}" alt="partner"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- END PARTNERS AREA -->
		</div><!-- END TESTIMONIAL PARTNERS AREA -->

	</main><!-- END MAIN CONTENT -->
{% endblock body_content %}
