{% extends "baseApp/layouts/photohub/RTL/base.html" %}
{% load static %}
{% load i18n %}


{% block head_title %}
	<title>پروژه ها - LaVino Mood Photography Studio</title>
	<meta name="description" content="مجموعه لاوینو در شهر زیبای استانبول واقع شده است و در زمینه ی عکاسی صنعتی و مدلینگ فعالیت دارد.">
{% endblock head_title %}

{% block body_content %}
<!-- START MAIN CONTENT -->
<main class="main-content">

 <section id="project-section" class="projects portfolio-wrap pt-30 pb-120 bg--light-grey">
     <div class="container">
         <div class="row">
             <div class="section-head col-md-12 text-center wow animate__animated animate__fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                 <h4 class="pt-50 pb-80">پروژه ها</h4>
             </div>
             {% for project in Projects %}
             <div class="col-md-4 wow animate__animated animate__fadeInUp" data-wow-duration="0.9s" data-wow-delay="0.7s">
                 <div class="item">
                    <div class="position-re o-hidden">
                      <a href="{% url "baseApp:project_detail" slug=project.slug %}">
                        <img src="{{project.image_thumb.url}}" alt="">
                      </a>
                    </div>
                    <div class="con">
											{% if project.title_fa %}
                      <h5><a href="{% url "baseApp:project_detail" slug=project.slug %}">{{project.title_fa}}</a></h5> <a href="{% url "baseApp:project_detail" slug=project.slug %}"><i class="fa fa-long-arrow-left"></i></a>
											{% endif %}
									  </div>
                 </div>
             </div>
             {% endfor %}
         </div>
     </div>
 </section>
</main><!-- END MAIN CONTENT -->
{% endblock body_content %}
