{% extends "baseApp/layouts/photohub/LTR/base.html" %}
{% load static %}
{% load i18n %}


{% block lang_switcher %}
<!-- Language Switcher -->
<div class="col-8 order-1 col-lg-3 order-lg-3 col-md-5 col-sm-6 order-md-2 order-sm-2 line-bottom">
	<form id="language-form" class="form-inline" action="{% url 'set_language' %}" method="post">{% csrf_token %}
			<input name="next" type="hidden" value="{{redirect_to}}">
			<div class="form-group">
				<select id="language-select" name="language">
						{% get_current_language as LANGUAGE_CODE %}
						{% get_available_languages as LANGUAGES %}
						{% get_language_info_list for LANGUAGES as languages %}
						{% for language in languages %}
								<option class="language-option" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
										{{ language.name_local }} ({{ language.code }})
								</option>
						{% endfor %}
				</select>
				<input id="language-btn" class="btn btn-outline-info form-control" type="submit" value="Go">
			</div>
	</form>
</div>
{% endblock lang_switcher %}

{% block body_content %}
		<!-- START BREADCRUMB AREA -->
		<div class="breadcrumb-area" data-black-overlay="7" style="background-image: url({{breadcumb.image.url}});">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="pt-breadcrumb text-center ptb-80">
							<h3>About Us</h3>
						</div>
					</div>
				</div>
			</div>
		</div><!-- END BREADCRUMB AREA -->

		<!-- START MAIN CONTENT -->
		<main class="main-content">

			<!-- START ABOUT US AREA -->
			<section id="about-area" class="pt-section about ptb-120 bg--light-grey">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-12 wow animate__animated animate__fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.5s">
							<div class="about__image">
								<img src="{% static "baseApp/layouts/photohub/LTR/images/about/1.jpg" %}" alt="about image">
							</div>
						</div>
						<div class="col-lg-6 col-12 wow animate__animated animate__fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.8s">
							<div class="about__content">
								<h3 class="text-uppercase">photo tune photography best html template</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididun ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
								<p>ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreh voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
							</div>
						</div>
					</div>
				</div>
			</section><!-- END ABOUT US AREA -->

			<!-- START PIE AREA -->
			<section id="pie-area" class="pt-section pie-area ptb-120 bg--1" data-black-overlay="9">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="pies">
								<!-- START SINGLE PIE -->
								<div class="pie">
									<div class="pie-chart" data-percent="80" data-scale-color="#ffb400"><span>80%</span></div>
									<div class="pie__content">
										<h5 class="pie__title">Studio</h5>
									</div>
								</div><!-- END SINGLE PIE -->
								<!-- START SINGLE PIE -->
								<div class="pie">
									<div class="pie-chart" data-percent="70" data-scale-color="#ffb400"><span>70%</span></div>
									<div class="pie__content">
										<h5 class="pie__title">Shooting</h5>
									</div>
								</div><!-- END SINGLE PIE -->
								<!-- START SINGLE PIE -->
								<div class="pie">
									<div class="pie-chart" data-percent="75" data-scale-color="#ffb400"><span>75%</span></div>
									<div class="pie__content">
										<h5 class="pie__title">Editing</h5>
									</div>
								</div><!-- END SINGLE PIE -->
								<!-- START SINGLE PIE -->
								<div class="pie">
									<div class="pie-chart" data-percent="90" data-scale-color="#ffb400"><span>90%</span></div>
									<div class="pie__content">
										<h5 class="pie__title">Printing</h5>
									</div>
								</div><!-- END SINGLE PIE -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- END PIE AREA -->

			<!-- START PROCESS AREA -->
			<section class="pt-section process-area ptb-120 bg--light-grey">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
							<div class="section-title text-center wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.5s">
								<h2>Our <span>Process</span></h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
							<div class="process">
								<!-- START SINGLE PROCESS -->
								<div class="process__single">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__bounceInLeft" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/1.png" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__bounceInRight" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">01. studio</h4>
										<p>Lorem ipsum dolor sit amet consectetur adi elit, sed do eiusmod tempor incididunt ut la et dolore magna aliqua Ut.</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single process__single--reverse">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__bounceInRight" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/2.png" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__bounceInLeft" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">02. PHOTO SHOOTING</h4>
										<p>Lorem ipsum dolor sit amet consectetur adi elit, sed do eiusmod tempor incididunt ut la et dolore magna aliqua Ut.</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__bounceInLeft" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/3.png" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__bounceInRight" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">03. Editing</h4>
										<p>Lorem ipsum dolor sit amet consectetur adi elit, sed do eiusmod tempor incididunt ut la et dolore magna aliqua Ut.</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single process__single--reverse">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__bounceInRight" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/4.png" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__bounceInLeft" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">04. Printing</h4>
										<p>Lorem ipsum dolor sit amet consectetur adi elit, sed do eiusmod tempor incididunt ut la et dolore magna aliqua Ut.</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
							</div>
						</div>
					</div>
				</div>
			</section><!-- END PROCESS AREA -->

			<!-- START PARTNERS AREA -->
			<div class="pt-section partners-area ptb-100" data-black-overlay="2" style="background: url({% static "baseApp/layouts/photohub/LTR/images/bg/1-1.jpg" %}) no-repeat scroll center center;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="partners owl-carousel d-flex align-items-center">
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/1.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/2.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/3.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/4.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/5.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/1.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="index.html"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/2.png" %}" alt="partner"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- END PARTNERS AREA -->

			<!-- START TEAM AREA -->
			<section id="team-area" class="pt-section team-area ptb-120 bg--light-grey">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
							<div class="section-title text-center">
								<h2>Team <span>Member</span></h2>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmo tempor incididun ut labore et dolore magna aliqua. </p>
							</div>
						</div>
					</div>
					<div class="row">
						<!-- START TEAM MEMBER -->
						<div class="col-lg-4 col-12 col-md-6 offset-md-0 col-sm-8 offset-sm-2">
							<article class="team">
								<div class="team__image">
									<img src="{% static "baseApp/layouts/photohub/LTR/images/team/1.jpg" %}" alt="team image">
								</div>
								<div class="team__content text-center">
									<h4>Juan Pablo Soto</h4>
									<div class="social-icons social-icons--white">
										<ul>
											<li class="facebook"><a href="https://www.facebook.com/"><span class="ti-facebook"></span></a></li>
											<li class="twitter"><a href="https://twitter.com/"><span class="ti-twitter-alt"></span></a></li>
											<li class="vimeo"><a href="https://vimeo.com/"><span class="ti-vimeo-alt"></span></a></li>
											<li class="pinterest"><a href="https://www.pinterest.com/"><span class="ti-pinterest"></span></a></li>
										</ul>
									</div>
								</div>
							</article>
						</div><!-- END TEAM MEMBER -->
						<!-- START TEAM MEMBER -->
						<div class="col-lg-4 col-12 col-md-6 offset-md-0 col-sm-8 offset-sm-2">
							<article class="team">
								<div class="team__image">
									<img src="{% static "baseApp/layouts/photohub/LTR/images/team/2.jpg" %}" alt="team image">
								</div>
								<div class="team__content text-center">
									<h4>Patricia Ledesma</h4>
									<div class="social-icons social-icons--white">
										<ul>
											<li class="facebook"><a href="https://www.facebook.com/"><span class="ti-facebook"></span></a></li>
											<li class="twitter"><a href="https://twitter.com/"><span class="ti-twitter-alt"></span></a></li>
											<li class="vimeo"><a href="https://vimeo.com/"><span class="ti-vimeo-alt"></span></a></li>
											<li class="pinterest"><a href="https://www.pinterest.com/"><span class="ti-pinterest"></span></a></li>
										</ul>
									</div>
								</div>
							</article>
						</div><!-- END TEAM MEMBER -->
						<!-- START TEAM MEMBER -->
						<div class="col-lg-4 col-12 col-md-6 offset-md-0 col-sm-8 offset-sm-2">
							<article class="team">
								<div class="team__image">
									<img src="{% static "baseApp/layouts/photohub/LTR/images/team/3.jpg" %}" alt="team image">
								</div>
								<div class="team__content text-center">
									<h4>Thiago Leguizamon</h4>
									<div class="social-icons social-icons--white">
										<ul>
											<li class="facebook"><a href="https://www.facebook.com/"><span class="ti-facebook"></span></a></li>
											<li class="twitter"><a href="https://twitter.com/"><span class="ti-twitter-alt"></span></a></li>
											<li class="vimeo"><a href="https://vimeo.com/"><span class="ti-vimeo-alt"></span></a></li>
											<li class="pinterest"><a href="https://www.pinterest.com/"><span class="ti-pinterest"></span></a></li>
										</ul>
									</div>
								</div>
							</article>
						</div><!-- END TEAM MEMBER -->
					</div>
				</div>
			</section><!-- END TEAM AREA -->
		</main><!-- END MAIN CONTENT -->
{% endblock body_content %}
