{% extends "baseApp/layouts/photohub/LTR/base.html" %}
{% load static %}
{% load i18n %}


{% block head_title %}
	<title>Photography Studio - LaVino Mood</title>
	<meta name="description" content="Lavino studio is located in the beautiful city of Istanbul and is specializes in industrial and fashion photography.">
{% endblock head_title %}

{% block fake_loader %}
	<!-- Preloader -->
	<div id="preloader">
		<div class="spinner2">
			<div class="spinner-container container1">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container2">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div><div class="spinner-container container3">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
		</div>
	</div>
{% endblock fake_loader %}

{% block body_content %}

		<!-- Contact Form Sent Message -->
		{% if messages %}
				{% for message in messages %}
					<div class="row">
						<div id="success-message" class="text-center col-lg-8 offset-lg-2 alert alert-{{message.tags}}" id='success-alert' role="alert">
								{{message|safe}}
						</div>
					</div>
				{% endfor %}
		{% endif %}

		<!-- START BREADCRUMB AREA -->
		<div class="breadcrumb-area" data-black-overlay="7" style="background-image: url({{breadcumb.image.url}});">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="pt-breadcrumb text-center ptb-80">
							<h3>{% trans "About Us" %}</h3>
						</div>
					</div>
				</div>
			</div>
		</div><!-- END BREADCRUMB AREA -->

		<!-- START MAIN CONTENT -->
		<main class="main-content">

			<!-- START ABOUT US AREA -->
			<section id="about-area" class="pt-section about ptb-120 bg--light-grey">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-12 wow animate__animated animate__fadeIn" data-wow-duration="0.7s" data-wow-delay="0.5s">
							<div class="about__image">
								<img src="{% static "baseApp/layouts/photohub/LTR/images/about/1.jpg" %}" alt="about image">
							</div>
						</div>
						<div class="col-lg-6 col-12 wow animate__animated animate__fadeIn" data-wow-duration="0.7s" data-wow-delay="0.8s">
							<div class="about__content">
								<h3 class="text-uppercase">{% trans "We believe in high-end photography" %}</h3>
								<p>{% trans "Lavino studio is located in the beautiful city of Istanbul and is specializes in industrial and fashion photography. Lavino's team consists of professional photographers, photo stylists, make-up artists, stage <a href='https://www.turkeymode.com/' class='backlink-refer'>designers,</a> professional graphic designers, and advertisers." %}</p>
								<p>{% trans "Our talented staff doesn't simply take pictures but produces works of art. From billboards to product photos, there is no job too big or too small. We bring experience, creativity, and out-of-the-box thinking to every work." %}</p>
								<p>{% trans "Lavino's additional service includes videography and social media marketing. Lavino always takes steps in the direction of artistically providing visual and advertising services to its customers. With proud." %}</p>
							</div>
						</div>
					</div>
				</div>
			</section><!-- END ABOUT US AREA -->


			<!-- START PROCESS AREA -->
			<section class="pt-section process-area ptb-120 bg--light-grey">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
							<div class="section-title text-center wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.5s">
								<h2>{% trans "Our" %} <span>{% trans "Process" %}</span></h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
							<div class="process">
								<!-- START SINGLE PROCESS -->
								<div class="process__single">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/meeting.jpg" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">01. {% trans "Meeting and Inquiry" %}</h4>
										<p>{% trans "You’ll first meet with one of our experienced customer specialists who understands style, current fashion standards, photo shooting requirements." %}</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single process__single--reverse">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/coffee.jpg" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">02. {% trans "COFFEE" %}</h4>
										<p>{% trans "Let’s chat over a cup of coffee or on the phone/Zoom if you’re not in <a href='https://www.gammaturkey.com/' class='backlink-refer'>Turkey</a> is where we really get deep into the weeds with the project details and issue our contract." %}</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/3.jpg" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">03. {% trans "Session Time" %}</h4>
										<p>{% trans "For photo & video clients, we’ll set a date and then have fun in front of the camera! We want to ensure that you feel comfortable before your portrait session and have the opportunity to get to know the team behind the lens." %}</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single process__single--reverse">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/4.jpg" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">04. {% trans "Design & Refine" %}</h4>
										<p>{% trans "We’re now ready to build your dreams. We dedicate our 100 percent to your concern and update with all the process details." %}</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/details.jpg" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">05. {% trans "Reviewing DETAILS" %}</h4>
										<p>{% trans "When the project is nearing completion, we’ll schedule a final project review to go over the plan for completing any outstanding details. We are at our best when we include your ideas and feedback to ensure the final image is pixel perfect." %}</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
								<!-- START SINGLE PROCESS -->
								<div class="process__single process__single--reverse">
									<div class="process__single__image">
										<div class="process__image__inner wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
											<img src="{% static "baseApp/layouts/photohub/LTR/images/process/delivery.jpg" %}" alt="process image">
										</div>
									</div>
									<div class="process__single__content wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
										<h4 class="text-uppercase">06. {% trans "DELIVERY" %}</h4>
										<p>{% trans "Our goal is to tell your story in the most beautiful, compelling, and “you” and your organization way possible. We could bring and hand over the project in printed form or hard copy to the proper recipient or address." %}</p>
									</div>
								</div><!-- END SINGLE PROCESS -->
							</div>
						</div>
					</div>
				</div>
			</section><!-- END PROCESS AREA -->

			<!-- START PARTNERS AREA -->
			<!-- <div class="pt-section partners-area ptb-100" data-black-overlay="2" style="background: url({% static "baseApp/layouts/photohub/LTR/images/bg/1-1.jpg" %}) no-repeat scroll center center;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="partners owl-carousel d-flex align-items-center">
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/1.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/2.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/3.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/4.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/5.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/1.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/2.png" %}" alt="partner"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

			{% include "baseApp/layouts/photohub/LTR/include/ContactForm.html" %}

		</main><!-- END MAIN CONTENT -->
{% endblock body_content %}
