<!doctype html>
{% load static %}
{% load i18n %}

<html class="no-js" lang="zxx">
<head>
	<meta name="author" content="Developer: Ardeshir M. Damavandi, Contact: a.damavandi@hotmail.com" />
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-N6BRB24');</script>
	<!-- End Google Tag Manager -->

	{% block head_title %}
		<title>Photography Studio - LaVino Mood</title>
		<meta name="description" content="Lavino studio is located in the beautiful city of Istanbul and is specializes in industrial and fashion photography.">
	{% endblock head_title %}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Mobile Specific Metas -->
	<link rel="shortcut icon" href="{% static "baseApp/layouts/photohub/LTR/images/favicon.ico" %}">
	<link rel="apple-touch-icon" href="{% static "baseApp/layouts/photohub/LTR/images/logo/lavino-share.jpg" %}">
	<link rel="image_src" href="{% static "baseApp/layouts/photohub/LTR/images/logo/lavino-share.jpg" %}">
	<meta property="og:type" content= "website" />
	<meta property="og:url" content="https://lavinomood.com"/>
	<meta property="og:site_name" content="LaVino Mood" />
	<meta property="og:image" itemprop="image primaryImageOfPage" content="{% static "baseApp/layouts/photohub/LTR/images/logo/lavino-share.jpg" %}"/>
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:domain" content="lavinomood.com"/>
	<meta name="twitter:title" property="og:title" itemprop="name" content="LaVino Mood - Photography Studio" />
	<meta name="twitter:description" property="og:description" itemprop="description" content="Lavino studio is located in the beautiful city of Istanbul and is specializes in industrial and fashion photography." />




	<!-- Google font (font-family: 'Ubuntu', sans-serif;) -->
	<link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700|Playfair+Display:400,500,600,700&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static "baseApp/layouts/photohub/LTR/css/imports/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "baseApp/layouts/photohub/LTR/css/plugins.css" %}">
	<link rel="stylesheet" href="{% static "baseApp/layouts/photohub/LTR/css/main.css" %}">


	<!-- Custom css -->
   <link rel="stylesheet" href="{% static "baseApp/layouts/photohub/LTR/css/custom.css" %}">

	<!-- Modernizer js -->
	<script src="{% static "baseApp/layouts/photohub/LTR/js/vendor/modernizr-3.5.0.min.js" %}"></script>

	{% block head_extra %}

	{% endblock head_extra %}
</head>
<body>

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6BRB24"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	{% block fake_loader %}
		<!-- for home page -->
	{% endblock fake_loader %}

	<!-- START WRAPPER -->
	<div class="wrapper">

		<!-- START HEADER AREA -->
		<header id="header-area" class="header-area sticky-header">
			<div class="header bg--white">
				<div class="container">
					<div class="row align-items-center">
						<!-- Menu -->
						<div class="col-12 order-4 col-lg-5 order-lg-1 col-md-12 col-sm-12 order-md-4 order-sm-4">
							<!-- START MAIN NAVIGATION -->
							<nav class="navbar navbar-expand-lg menu">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
									<span class="ti ti-menu"></span>
								</button>
								<div class="collapse navbar-collapse" id="main-navbar">
									<ul class="navbar-nav mr-auto">
										<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{% url "baseApp:index" %}">{% trans "home" %}</a></li>
										<li class="nav-item"><a class="nav-link" href="{% url "baseApp:about_us" %}">{% trans "about us" %}</a></li>
										<li class="nav-item dropdown"><a class="nav-link" href="{% url "baseApp:projects" %}">{% trans "projects" %}</a></li>
										<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{% url "blogApp:all_posts" %}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "blog" %}</a>
											<ul class="dropdown-menu">
												{% for item in blog_categories %}
												<li class="dropdown-item" ><a href="{% url "blogApp:category_list" category=item.slug %}">{{item.category}}</a></li>
												{% endfor %}
											</ul>
										</li>
										<!-- languages for mobile screen -->
										<form id="mobile-lang" class="form-inline" action="{% url 'set_language' %}" method="post">{% csrf_token %}
									      <input name="next" type="hidden" value="{{redirect_to}}">
									        <select id="language-select" name="language" onchange="this.form.submit()">
									            {% get_current_language as LANGUAGE_CODE %}
									            {% get_available_languages as LANGUAGES %}
									            {% get_language_info_list for LANGUAGES as languages %}
									            {% for language in languages %}
									                <option class="language-option" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
									                    {{ language.name_local }} ({{ language.code }})
									                </option>
									            {% endfor %}
									        </select>
									  </form>
									</ul>
								</div>
							</nav><!-- END MAIN NAVIGATION -->
						</div>
						<!-- Logo -->
						<div class="col-6 order-3 col-lg-2 order-lg-2 offset-lg-0 col-md-2 offset-md-12 order-md-1 col-sm-2 offset-sm-5 order-sm-1">
							<div class="logo text-center">
								<a href="{% url "baseApp:index" %}">
									<img id="logo-header" src="{% static "baseApp/layouts/photohub/LTR/images/logo/lavino-header.png" %}" alt="logo">
								</a>
							</div>
						</div>

						<!-- languages -->
						{% include "baseApp/layouts/photohub/LTR/include/language-switcher.html" %}

						<!-- Social Media -->
						<div id="social-header" class="col-4 order-2 col-lg-2 order-lg-4 col-md-5 col-sm-6 order-md-3 order-sm-3 line-bottom">
							<div class="social-icons text-right">
								<ul>
									<li id="instagram"><a href="https://www.instagram.com/lavinomood/" target="_blank"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header><!-- END HEADER AREA -->
		{% block body_content %}
			<!-- MAIN CONTENT -->
		{% endblock body_content %}

		<!-- START FOOTER AREA -->
		<footer id="footer" class="footer-area bg--dark-grey ptb-50">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="footer">
							<div class="footer__copyright">
								<div class="row">
									<div class="col-lg-12 col-7">
										<div id="foorter-logo">
											<a href="{% url "baseApp:index" %}">
												<img src="{% static "baseApp/layouts/photohub/LTR/images/logo/lavino-footer.png" %}" alt="Lavino Mood Studio">
											</a>
										</div>
									</div>
									<div class="col-lg-12 col-4">
										<a id="instagram-footer" href="https://www.instagram.com/lavinomood/" target="_blank"><i class="fab fa-instagram"></i></a></li>
									</div>
								</div>
								<p class="footer__copyright__text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved"</p>
								<!-- <p class="footer__copyright__text">Developed by: <a href="https://wa.me/905356832320">Ardeshir</a></p> -->
							</div>
							<nav class="footer__menu text-center">
								<ul>
									<li><a href="{% url "baseApp:index" %}">{% trans "home" %}</a></li>
									<li><a href="{% url "baseApp:about_us" %}">{% trans "about us" %}</a></li>
									<li><a href="{% url "baseApp:projects" %}">{% trans "projects" %}</a></li>
									<li><a href="{% url "blogApp:all_posts" %}">{% trans "blog" %}</a></li>
								</ul>
							</nav>
							<div class="footer__contact">
								<ul>
									<li>{% trans "Email" %} :<a href="mailto:contact@lavinomood.com" target="_blank"> contact@lavinomood.com</a></li>
									<li>{% trans "Phone" %} :<a href="https://wa.me/905301022449" target="_blank"> (+90) 530 102 24 49</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer><!-- END FOOTER AREA -->

	</div><!-- END WRAPPER -->



	<!-- JS Files -->
	<script src="{% static "baseApp/layouts/BE-THEME/js/jquery-2.1.4.min.js" %}"></script>
	<script src="{% static "baseApp/layouts/photohub/LTR/js/popper.min.js" %}"></script>
	<script src="{% static "baseApp/layouts/photohub/LTR/js/bootstrap.min.js" %}"></script>
	<script src="{% static "baseApp/layouts/photohub/LTR/js/plugins.js" %}"></script>
	<script src="{% static "baseApp/layouts/photohub/LTR/js/active.js" %}"></script>
	<script src="{% static "baseApp/layouts/photohub/LTR/js/scripts.js" %}"></script>
	<script src="{% static "baseApp/layouts/photohub/LTR/js/slider-active.js" %}"></script>
	{% block body_JS %}

	{% endblock body_JS %}

</body>
</html>
