{% extends "baseApp/layouts/photohub/LTR/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
	<title>Photography Studio - LaVino Mood</title>
	<meta name="description" content="Lavino studio is located in the beautiful city of Istanbul and is specializes in industrial and fashion photography.">
{% endblock head_title %}


{% block fake_loader %}
	<!-- Preloader -->
	<div id="preloader">
		<div class="spinner2">
			<div class="spinner-container container1">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container2">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div><div class="spinner-container container3">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
		</div>
	</div>
{% endblock fake_loader %}



{% block body_content %}
	<!-- START SLIDER AREA -->
	<div class="banner">
		<div class="banner__inner banner-slider-active owl-carousel slider-navigtion-style-1">
			{% for banner in bannerImages %}
			<!-- START SINGLE BANNER -->
			<div class="single__banner"
						style="background: url({{banner.image.url}}) no-repeat scroll center center; background-size: auto 100%;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="banner__content text-center">
								{% if banner.sub_title %}
									<h3>{{banner.sub_title}}</h3>
								{% endif %}
								{% if banner.title %}
									<h1>{{banner.title}}</h1>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END SINGLE BANNER -->
			{% endfor %}
		</div>
		<div class="banner__hash-wrapper hidden-md hidden-xs hidden-sm">
			<div class="banner__hash owl-carousel">
				<div class="banner__hash__single">
					<img src="#" alt="small thumb">
				</div>
			</div>
		</div>
	</div><!-- END SLIDER AREA -->

	<!-- START MAIN CONTENT -->
	<main class="main-content">

		<!-- START ABOUT US AREA -->
		<section id="about-area" class="pt-section about pt-120 bg--light-grey">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="about__image">
							<img src="{% static "baseApp/layouts/photohub/LTR/images/about/studio-01.jpg" %}" alt="about image">
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="about__content">
							<h3 class="text-uppercase">{% trans "We believe in high-end photography" %}</h3>
							<p>{% trans "Lavino studio is located in the beautiful city of Istanbul and is specializes in industrial and fashion photography. Lavino's team consists of professional photographers, photo stylists, make-up artists, stage designers, professional graphic designers, and advertisers." %}</p>
							<p>{% trans "Our talented staff doesn't simply take pictures but produces works of art. From billboards to product photos, there is no job too big or too small. We bring experience, creativity, and out-of-the-box thinking to every work." %}</p>
							<p>{% trans "Lavino's additional service includes videography and social media marketing. Lavino always takes steps in the direction of artistically providing visual and advertising services to its customers. With proud." %}</p>
						</div>
					</div>
				</div>
			</div>
		</section><!-- END ABOUT US AREA -->

		<!-- START PORTFOLIO AREA -->
		<section id="portfolio-area" class="portfolio-wrap pt-120 bg--light-grey">
			<div class="portfolios layout-2">
				{% for item in featuredImages %}
				<!-- START SINGLE PORTFOLIO -->
				<div class="portfolio wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
					<div class="portfolio__inner">
						<div class="portfolio__image">
							<img src="{{item.image.url}}" alt="{{item.title}}">
						</div>
						<div class="portfolio__content">
							<!-- <span class="portfolio-zoom-trigger">
								<a href="{{item.image.url}}"><span class="ti-eye"></span></a>
							</span> -->
							<div class="portfolio__content__text">
								<h5>{{item.title}}</h5>
								<!-- <div class="share__content__wrap">
									<a class="share-toggle" href="#"><span class="ti-sharethis"></span> {% trans "share" %}</a>
									<div class="share__content">
										<a href="https://www.facebook.com/"><span class="ti-facebook"></span></a>
										<a href="https://twitter.com/"><span class="ti-twitter-alt"></span></a>
										<a href="https://www.pinterest.com/"><span class="ti-pinterest"></span></a>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div><!-- END SINGLE PORTFOLIO -->
				{% endfor %}
			</div>
		</section><!-- END PORTFOLIO AREA -->

		<!-- START SERVICE AREA -->
		<section id="service" class="pt-section service-area ptb-120 bg--light-grey">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
						<div class="section-title text-center wow animate__animated animate__fadeInUp">
							<h2>{% trans "our" %}<span>{% trans "services" %}</span></h2>
							<p style="margin-bottom:0; font-size:18px;">{% trans "For some weird and wonderful reason, we really dig photography!" %}</p>
							<p style="margin-bottom:0; font-size:17px; color:#16bbb4;">{% trans "We take pride in the quality of our photography and creative services." %}</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="services">
							<!-- START SINGLE SERVICE -->
							<div class="service wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
								<div class="service__inner">
									<div class="service__icon">
										<span class="icon-profile-female"></span>
										<span class="icon-profile-female"></span>
									</div>
									<div class="service__content">
										<h4>{% trans "Modeling Portfolio" %}</h4>
										<p>{% trans "Female and Male Models, Fitness and Sport, Outfit and Clothing" %}</p>
									</div>
								</div>
							</div><!-- END SINGLE SERVICE -->
							<!-- START SINGLE SERVICE -->
							<div class="service wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
								<div class="service__inner">
									<div class="service__icon">
										<span><i class="fal fa-camera-movie"></i></span>
										<span><i class="fal fa-camera-movie"></i></span>
									</div>
									<div class="service__content">
										<h4>{% trans "Promotional Videos" %}</h4>
										<p>{% trans "Creative Video Production, Aerial Drone Video Recording, Events and Conferences" %}</p>
									</div>
								</div>
							</div><!-- END SINGLE SERVICE -->
							<!-- START SINGLE SERVICE -->
							<div class="service wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
								<div class="service__inner">
									<div class="service__icon">
										<span class="icon-camera"></span>
										<span class="icon-camera"></span>
									</div>
									<div class="service__content">
										<h4>{% trans "Commercial" %}</h4>
										<p>{% trans "Products, Fashion and Beauty, Jewelry and Corporate Photography" %}</p>
									</div>
								</div>
							</div><!-- END SINGLE SERVICE -->
							<!-- START SINGLE SERVICE -->
							<div class="service wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
								<div class="service__inner">
									<div class="service__icon">
										<span class="icon-printer"></span>
										<span class="icon-printer"></span>
									</div>
									<div class="service__content">
										<h4>{% trans "Design & Print" %}</h4>
										<p>{% trans "Logo Design, Brochure and Posters, Signage and Banners" %}</p>
									</div>
								</div>
							</div><!-- END SINGLE SERVICE -->
							<!-- START SINGLE SERVICE -->
							<div class="service wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
								<div class="service__inner">
									<div class="service__icon">
										<span><i class="fal fa-house"></i></span>
										<span><i class="fal fa-house"></i></span>
									</div>
									<div class="service__content">
										<h4>{% trans "Properties" %}</h4>
										<p>{% trans "Interior Design Photography, Property Video, Image Editing" %}</p>
									</div>
								</div>
							</div><!-- END SINGLE SERVICE -->
							<!-- START SINGLE SERVICE -->
							<div class="service wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
								<div class="service__inner">
									<div class="service__icon">
										<span><i class="far fa-bullseye-pointer"></i></span>
										<span><i class="far fa-bullseye-pointer"></i></span>
									</div>
									<div class="service__content">
										<h4>{% trans "Digital Marketing" %}</h4>
										<p>{% trans "Social Media Content Management, Website Design" %}</p>
									</div>
								</div>
							</div><!-- END SINGLE SERVICE -->
						</div>
					</div>
				</div>
			</div>
		</section><!-- END SERVICE AREA -->


		<!-- START TESTIMONIAL PARTNERS AREA -->
		<div class="pt-section testimonial-pertners-area" style="background: url({% static "baseApp/layouts/photohub/LTR/images/bg/1-1.jpg" %}) no-repeat scroll center center;">
			<!-- START TESTIMONIAL AREA -->
			<div class="testimonial-area ptb-120">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<div class="testimonials owl-carousel">
								<!-- START SINGLE TESTIMONIAL -->
								<article class="testimonial text-center">
									<p  class="testimonial__text">{% trans "The true artist must be able, with the most usual things, to have the most unusual ideas." %}</p>
									<div class="testimonial__author">
										<h5 style="font-size:21px;"><a href="{% url "baseApp:projects" %}"> {% trans "Projects" %}</a></h5>
									</div>
								</article><!-- END SINGLE TESTIMONIAL -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- END TESTIMONIAL AREA -->
			<!-- START PARTNERS AREA -->
			<!-- <div class="partners-area ptb-10" data-white-overlay="1">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="partners owl-carousel d-flex align-items-center">
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/1.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/2.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/3.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/4.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/5.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/1.png" %}" alt="partner"></a>
								</div>
								<div class="partner text-center">
									<a href="#"><img src="{% static "baseApp/layouts/photohub/LTR/images/partners/2.png" %}" alt="partner"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div><!-- END TESTIMONIAL PARTNERS AREA -->

	</main><!-- END MAIN CONTENT -->
{% endblock body_content %}
