{% extends "baseApp/layouts/photohub/LTR/base.html" %}
{% load static %}
{% load i18n %}



{% block head_title %}
	<title>{{project.title}} - LaVino Mood Photography Studio</title>
	<meta name="description" content="LaVino Mood Photography Studio - {{project.description}}">
{% endblock head_title %}


{% block head_extra %}
  <!-- CSS BE-THEME -->
  <link rel='stylesheet' href="{% static "baseApp/layouts/BE-THEME/css/structure.css" %}">
	<link rel='stylesheet' href="{% static "baseApp/layouts/BE-THEME/css/jquery.fancybox.min.css" %}">
{% endblock head_extra %}


{% block body_content %}
<section id="main-image" class="pt-section pt-120 bg--light-grey">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="ptb-80">
						<img src="{{project.image_main.url}}" alt="">
						{% if current_lang == "en" %}
						<h3 class="mt-20 wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">{{project.title}}</h3>
						{% else %}
						<h3 class="mt-20 wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">{{project.title_tr}}</h3>
						{% endif %}


								{% if current_lang == "en" %}
									{% if project.description %}
									<p class="wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">{{project.description}}</p>
									{% endif %}
								{% else %}
									{% if project.description_tr %}
									<p class="wow animate__animated animate__fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">{{project.description_tr}}</p>
									{% endif %}
            		{% endif %}
          </div>
				</div>
			</div>
		</div>
 <section>
	<!-- END BREADCRUMB AREA -->

		<!-- START MAIN CONTENT -->
	<main class="main-content">
		<div class="container">
			<!-- START PAGE PORTFOLIO -->
			<div class="portfolio-wrap ptb-80 bg--light-grey">
					{% include "baseApp/layouts/photohub/LTR/include/mansonry-gallery.html" %}
			</div><!-- END PAGE PORTFOLIO -->
		</div>
	</main><!-- END MAIN CONTENT -->
{% endblock body_content %}


{% block body_JS %}

  <!-- BE-THEME for Mansonry Gallery section -->
  <script src="{% static "baseApp/layouts/BE-THEME/js/jquery.plugins.js" %}"></script>
	<script src="{% static "baseApp/layouts/BE-THEME/js/jquery.fancybox.min.js" %}"></script>
	<script src="{% static "baseApp/layouts/BE-THEME/js/scripts-limited.js" %}"></script>

  <script type="text/javascript">

    $('[data-fancybox="images"]').fancybox({
    	protect: true,
      loop: true,
    });

  </script>
{% endblock body_JS %}
