{% extends "baseApp/layouts/photohub/LTR/base.html" %}
{% load static %}
{% load i18n %}


{% block head_title %}
	<title>Blog - LaVino Mood</title>
	<meta name="description" content="Lavino studio is located in the beautiful city of Istanbul and is specializes in industrial and fashion photography.">
{% endblock head_title %}

{% block lang_switcher %}
<!-- Language Switcher -->
<div id="lang-switcher" class="col-8 order-1 col-lg-3 order-lg-3 col-md-5 col-sm-6 order-md-2 order-sm-2 line-bottom">
	<form id="language-form" class="form-inline" action="{% url 'set_language' %}" method="post">{% csrf_token %}
			<input name="next" type="hidden" value="{{redirect_to}}">
			<div class="form-group">
				<select id="language-select" name="language">
						{% get_current_language as LANGUAGE_CODE %}
						{% get_available_languages as LANGUAGES %}
						{% get_language_info_list for LANGUAGES as languages %}
						{% for language in languages %}
								<option class="language-option" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
										{{ language.name_local }} ({{ language.code }})
								</option>
						{% endfor %}
				</select>
				<input id="language-btn" class="btn btn-outline-info form-control" type="submit" value="Go">
			</div>
	</form>
</div>
{% endblock lang_switcher %}


{% block body_content %}
		<!-- START BREADCRUMB AREA -->
		<div class="breadcrumb-area" data-black-overlay="7" style="background-image: url({{breadcumb.image.url}});">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="pt-breadcrumb text-center ptb-110">
							<h3>{% trans "Blog Page" %}</h3>
						</div>
					</div>
				</div>
			</div>
		</div><!-- END BREADCRUMB AREA -->

		<!-- START MAIN CONTENT -->
		<main class="main-content">

			<!-- START BLOG LIST PAGE CONTENT -->
			<div class="blog-list ptb-120 bg--light-grey">
				<div class="container">
					<div class="row">
						<!-- POSTS -->
						<div class="col-12 col-lg-9">
							<div class="blog-list-blogs">
								{% for post in allPosts %}
								<!-- START SINGLE BLOG -->
								<div class="blog">
									<div class="blog__thumbnail">
										<a href="{% url "blogApp:post_detail" slug=post.slug %}">
											<img src="{{post.image.url}}" alt="{{post.title}}">
										</a>
									</div>
									<div class="blog__content">
										<h5 class="blog__content__title"><a href="{% url "blogApp:post_detail" slug=post.slug %}">{{post.title}}</a></h5>
										<span class="blog__content__date">{{post.updated}}</span>
										<p>{{post.shortContent}}</p>
										<div class="blog__content__more">
											<a href="{% url "blogApp:post_detail" slug=post.slug %}" class="read-more">{% trans "Read more" %}</a>
											<div class="blog__content__comments">
												{% include "blogApp/layouts/photohub/LTR/includes/share-btn.html" %}
												<span>{{post.view}} <i class="fad fa-eye"></i></span>
											</div>
										</div>
									</div>
								</div><!-- END SINGLE BLOG -->
								{% endfor %}
							</div>
							<div class="pt-pagination text-center">
								<ul>
									<li><a href="blog-list-right-sidebar.html"><span class="ti ti-angle-double-left"></span></a></li>
									<li><a href="#">1</a></li>
									<li><a href="blog-list-right-sidebar.html"><span class="ti ti-angle-double-right"></span></a></li>
								</ul>
							</div>
						</div>
						{% include "blogApp/layouts/photohub/LTR/includes/sidebar.html" %}
					</div>
				</div>
			</div><!-- END BLOG LIST PAGE CONTENT -->

		</main><!-- END MAIN CONTENT -->
{% endblock body_content %}
