{% extends "baseApp/layouts/photohub/RTL/base.html" %}
{% load static %}
{% load i18n %}


{% block lang_switcher %}
<!-- Language Switcher -->
<div id="lang-switcher" class="col-8 order-1 col-lg-3 order-lg-3 col-md-5 col-sm-6 order-md-2 order-sm-2 line-bottom">
	<form id="language-form" class="form-inline" action="{% url 'set_language' %}" method="post">{% csrf_token %}
			<input name="next" type="hidden" value="{{redirect_to}}">
			<div class="form-group">
				<select id="language-select" name="language">
						{% get_current_language as LANGUAGE_CODE %}
						{% get_available_languages as LANGUAGES %}
						{% get_language_info_list for LANGUAGES as languages %}
						{% for language in languages %}
								<option class="language-option" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
										{{ language.name_local }} ({{ language.code }})
								</option>
						{% endfor %}
				</select>
				<input id="language-btn" class="btn btn-outline-info form-control" type="submit" value="Go">
			</div>
	</form>
</div>
{% endblock lang_switcher %}


{% block body_content %}
		<!-- START BREADCRUMB AREA -->
		<div class="breadcrumb-area" data-black-overlay="7" style="background-image: url({{categoryObject.image.url}});">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="pt-breadcrumb text-center ptb-110">
							<h3>{{post.title}}</h3>
						</div>
					</div>
				</div>
			</div>
		</div><!-- END BREADCRUMB AREA -->

		<!-- START MAIN CONTENT -->
		<main class="main-content">

			<!-- START BLOG LIST PAGE CONTENT -->
			<div class="blog-single-page-content ptb-120 bg--light-grey">
				<div class="container">
					<div class="row">
						<!-- Post Content -->
						<div class="col-lg-9 col-md-12 col-sm-12 col-12">
							<div class="bp-blog">
								<div class="bp-blog__titleline text-center">
									<h1>{{post.title}}</h1>
									<span class="text-uppercase">{{post.updated}}</span>
								</div>
								<div class="bp-blog__content">
									{{post.content|safe}}
								</div>
								<!-- Categories and Share -->
								<div class="bp-blog__bottomline">
									<div class="bp-blog__tags">
										<h5> دسته ها: </h5>
										<ul>
											{% for item in post.categories.all %}
											<li><a href="{% url "blogApp:category_list" category=item.slug %}">{{item.category}}</a></li>
											{% endfor %}
										</ul>
									</div>
									<div class="bp-blog__share">
										{% include "blogApp/layouts/photohub/RTL/includes/share-btn.html" %}
										<span>{{post.view}} <i class="fad fa-eye"></i></span>
									</div>
								</div>
							</div>
						</div>
						{% include "blogApp/layouts/photohub/RTL/includes/sidebar.html" %}
					</div>
				</div>
			</div><!-- END BLOG LIST PAGE CONTENT -->
		</main><!-- END MAIN CONTENT -->
{% endblock body_content %}
